<div class="register-wrap">
    <div class="form-block" sys-key-up="ghks,ghlb,ghys,wb,yysj,jslb,xm,xb,csrq,nl1,nl2,lxdh,sfzh,xzz,lxrdh,lxrsfzh,yylsh" next-key="0">
        <div class="head">
            显示所有预约
        </div>
        <div class="form">
            <div class="form-group">
                <div class="form-label">挂号科室</div>
                <div class="form-element">
                    <sys-search-input
                        form-key="ghks"
                        data="departments"
                        active-data="departmentsActive"
                        is-open="true"
                        is-require="true"
                        search-value="filterInput.department"
                        placeholder="输入科室码..."
                        open-callback="togglePanel(1)"
                        toggle-active-callback="deptToggle()"
                    ></sys-search-input>
                </div>
                <div class="form-label">挂号类别</div>
                <div class="form-element">
                    <sys-select
                        form-key="ghlb"
                        data="regTypes"
                        is-require="true"
                        active-data="regTypesActive"
                        toggle-active-callback="deptToggle()"
                    ></sys-select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">挂号医生</div>
                <div class="form-element">
                    <sys-search-input
                        form-key="ghys"
                        data="doctors"
                        active-data="doctorsActive"
                        search-value="filterInput.doctor"
                        placeholder="输入医生名称..."
                        open-callback="togglePanel(2)"
                        toggle-active-callback="doctorToggle()"
                    ></sys-search-input>
                </div>
                <div class="form-label">午 别</div>
                <div class="form-element">
                    <sys-select
                        form-key="wb"
                        data="noons"
                        active-data="noonsActive"
                    ></sys-select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">预约时间</div>
                <div class="form-element full">
                    <sys-date
                        form-key="yysj"
                        data="seedate"
                    ></sys-date>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-col-4">
                    <div class="form-label">病历本</div>
                    <div class="form-element auto">
                        <i class="fa fa-square-o"></i>
                    </div>
                </div>
                <div class="form-group-col-3">
                    <div class="form-label middle">就诊卡</div>
                    <div class="form-element auto">
                        <i class="fa fa-square-o"></i>
                    </div>
                </div>
                <div class="form-group-col-5">
                    <div class="form-label long">妇幼保健手册</div>
                    <div class="form-element auto">
                        <i class="fa fa-square-o"></i>
                    </div>
                </div>
            </div>
            <div class="form-group background">
                <div class="form-label">结算类别</div>
                <div class="form-element">
                    <sys-select
                        form-key="jslb"
                        data="payKinds"
                        is-require="true"
                        active-data="payKindsActive"
                    ></sys-select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">档案号</div>
                <div class="form-element full">
                    <div class="form-group-col-8">
                        <sys-input
                            form-key="dah"
                            data="patientId"
                            placeholder="输入档案号..."
                            is-disabled="true"
                        ></sys-input>
                    </div>
                    <div class="form-group-col-4 text-center">
                        <button type="button" class="btn orange" ng-click="getRecord()">生成档案号</button>
                    </div>
                </div>
                <div class="information text-right">
                    <a href="javascript:;" class="font-small blue">F1切换至就诊卡/身份证/医保卡/档案号/联系电话</a>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">姓名</div>
                <div class="form-element middle">
                    <sys-input
                        form-key="xm"
                        data="username"
                        is-require="true"
                        placeholder="输入姓名..."
                    ></sys-input>
                </div>
                <div class="form-label">性别</div>
                <div class="form-element small">
                    <sys-select
                        form-key="xb"
                        data="Sexs"
                        active-data="sexsActive"
                    ></sys-select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">出生日期</div>
                <div class="form-element middle">
                    <sys-date
                        form-key="csrq"
                        data="birthday"
                    ></sys-date>
                </div>
                <div class="form-label">年龄</div>
                <div class="form-element mini">
                    <sys-input
                        form-key="nl1"
                        data="age"
                    ></sys-input>
                </div>
                <div class="form-element mini">
                    <sys-select
                        form-key="nl2"
                        data="ageType"
                        active-data="ageTypeActive"
                    ></sys-select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">联系电话</div>
                <div class="form-element full">
                    <sys-input
                        form-key="lxdh"
                        data="phone"
                        placeholder="输入联系电话..."
                    ></sys-input>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">身份证号</div>
                <div class="form-element full">
                    <sys-input
                        form-key="sfzh"
                        data="cncode"
                        placeholder="输入身份证号..."
                    ></sys-input>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">现住址</div>
                <div class="form-element full">
                    <sys-input
                        form-key="xzz"
                        data="address"
                        placeholder="输入现住址..."
                    ></sys-input>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label large text-right">联系人电话</div>
                <div class="form-element large">
                    <sys-input
                        form-key="lxrdh"
                        data="telephone"
                        placeholder="输入联系人电话..."
                    ></sys-input>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label large text-right">联系人身份证号</div>
                <div class="form-element large">
                    <sys-input
                        form-key="lxrsfzh"
                        data="ptelephone"
                        placeholder="输入联系人身份证号..."
                    ></sys-input>
                </div>
            </div>
            <div class="form-group background margin-top">
                <div class="form-label large text-right">预约流水号</div>
                <div class="form-element large">
                    <sys-input
                        form-key="yylsh"
                        data="code"
                        placeholder="输入预约流水号..."
                    ></sys-input>
                </div>
            </div>
        </div>
    </div>
    <div class="content-block">
        <!-- 科室显示区域 -->
        <div class="sys-grid block-wrap" ng-show="pannel == 1">
            <h4 class="title">今日科室</h4>
            <div class="grid-col-3" ng-repeat="item in departments | filter: {'code': filterInput.department}">
                <div class="item" ng-dblclick="selectItem(item,1)" ng-class="{'disabled': item.limitCount == item.registedCount, 'active': item.code == departmentsActive.code}">
                    <span class="check"><i class="fa fa-check"></i></span>
                    <div class="label" ng-bind="item.code"></div>
                    <h3 ng-bind="item.name"></h3>
                    <h4 ng-bind="item.reglevelName"></h4>
                    <div class="description">
                        <div class="label" ng-bind="item.code"></div>
                        <h3 ng-bind="item.name"></h3>
                        <h4 ng-bind="item.reglevelName"></h4>
                        <h4 ng-bind="item.nurseCellName"></h4>
                        <div class="time">
                            <i class="fa fa-clock-o"></i><span ng-bind="item.beginTime"></span> - <span ng-bind="item.endTime"></span>
                        </div>
                        <div class="money">
                            <span ng-bind="item.regFee"></span> 元
                        </div>
                        <div class="info">
                            <div class="L">
                                <p class="font-small">限额</p>
                                <strong ng-bind="item.limitCount"></strong>
                            </div>
                            <div class="R">
                                <p class="font-small">已挂</p>
                                <strong ng-bind="item.registedCount"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 医生显示模块 -->
        <div class="sys-grid block-wrap" ng-show="pannel == 2">
            <h4 class="title">今日医生</h4>
            <div class="grid-col-3" ng-repeat="item in doctors | filter: {'code': filterInput.doctor}">
                <div class="item" ng-dblclick="selectItem(item,2)" ng-class="{'disabled': item.limitCount == item.registedCount, 'active': item.code == doctorsActive.code}">
                    <span class="check"><i class="fa fa-check"></i></span>
                    <div class="label blue" ng-bind="item.code"></div>
                    <h3 ng-bind="item.name"></h3>
                    <h4 ng-bind="item.reglevelName"></h4>
                    <h4 ng-bind="item.deptName"></h4>
                    <div class="star" ng-class="'start'+item.reglevelCode">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="description">
                        <div class="label blue" ng-bind="item.code"></div>
                        <h3 ng-bind="item.name"></h3>
                        <h4 ng-bind="item.reglevelName"></h4>
                        <h4 ng-bind="item.deptName"></h4>
                        <div class="time">
                            <i class="fa fa-clock-o"></i><span ng-bind="item.beginTime"></span> - <span ng-bind="item.endTime"></span>
                        </div>
                        <div class="money">
                            <span ng-bind="item.regFee"></span> 元
                        </div>
                        <div class="info">
                            <div class="L">
                                <p class="font-small">限额</p>
                                <strong ng-bind="item.limitCount"></strong>
                            </div>
                            <div class="R">
                                <p class="font-small">已挂</p>
                                <strong ng-bind="item.registedCount"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="register-pay">
        <div class="sys-grid">
            <div class="grid-col-5">
                当前发票号: <strong class="orange" ng-bind="Invoice"></strong> <a href="javascript:;"><i class="fa fa-edit"></i></a>
            </div>
            <div class="grid-col-5 text-right padding-right">
                收款：<strong class="orange margin-right font-big" ng-bind="regTypesActive.regFee"></strong>元
            </div>
            <div class="grid-col-2">
                <button class="btn orange block" type="button" ng-click="openDialog()">挂 号</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="confirmRegister">
    <div class="sys-dialog">
        <div class="head">挂号收费</div>
        <div class="content">
            <table class="sys-table">
                <tr>
                    <th>应收金额</th>
                    <td class="font-big"><strong class="orange" ng-bind="regTypesActive.regFee"></strong> 元</td>
                </tr>
                <tr>
                    <th>已收现金</th>
                    <td>
                        <input type="text" ng-model="pay" class="sys-input single small" /> 元
                    </td>
                </tr>
                <tr>
                    <th>
                        找零
                    </th>
                    <td class="orange font-big">
                        <strong class="orange">0.00</strong> 元
                    </td>
                </tr>
            </table>
            <div class="text-center margin-top">
                <button class="btn big orange" type="button" ng-click="registerSubmit()">完成</button>
            </div>
        </div>
    </div>
</script>
