<div class="drug-recipe-info" ng-cloak="" ng-if="patient">
    <div class="drug-patient-detail">
        <span class="detail-item text-bold">{{ patient.name }} {{ gender() }}</span>
        <span class="detail-item text-bold">{{ age() }}</span>
        <span class="detail-item">{{ 'MODEL_PATIENT_ALLERGY' | translate }}: <span class="text-bold">{{ patient.allergy }}</span></span>
        <span class="detail-item">
            {{ 'MODEL_PATIENT_HEIGHT' | translate }}/{{ 'MODEL_PATIENT_WEIGHT' | translate }}:
            <span class="text-bold">{{ patient.height }}/{{ patient.weight }}</span>
        </span>
    </div>
    <div class="drug-recipe-details">
        <div ng-repeat="recipe in patient.recipes" class="drug-recipe-detail" ng-show="show(recipe)">
            <div class="drug-recipe-detail-header">
                <i class="drug-recipe-type" ng-style="{'background-color': colorCode(recipe)}"></i>
                <span class="detail-item">{{ 'MODEL_RECIPE_ID' | translate }}: <span class="text-bold">{{ recipe.id }}</span></span>
                <span class="detail-item">{{ 'MODEL_RECIPE_DEPARTMENT_NAME' | translate }}: <span class="text-bold">{{ recipe.departmentName }}</span></span>
                <span class="detail-item">{{ 'MODEL_RECIPE_DOCTOR_NAME' | translate }}: <span class="text-bold">{{ recipe.doctorName }}</span></span>
                <span class="detail-item">{{ 'MODEL_RECIPE_DIAGNOSE' | translate }}: <span>{{ recipe.diagnose }}</span></span>
                <span class="drug-recipe-total-price">{{ 'MODEL_RECIPE_TOTAL' | translate }}:
                    <span class="text-bold">{{ formatPrice(recipe.total) }}{{ 'TEXT_DOLLAR' | translate }}</span>
                </span>
            </div>
            <table class="drug-recipe-detail-table">
                <thead>
                <tr>
                    <th class="drug-table-column-group"></th>
                    <th class="drug-table-column-name">{{ 'MODEL_DRUG_NAME' | translate }}</th>
                    <th class="drug-table-column-quantity">{{ 'MODEL_DRUG_QUANTITY' | translate }}</th>
                    <th class="drug-table-column-guide">{{ 'MODEL_DRUG_GUIDE' | translate }}</th>
                    <th class="drug-table-column-company">{{ 'MODEL_DRUG_COMPANY' | translate }}</th>
                    <th class="drug-table-column-price">{{ 'MODEL_DRUG_PRICE' | translate }}</th>
                    <th class="drug-table-column-total">{{ 'MODEL_DRUG_TOTAL' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="drug in recipe.drugs">
                    <td class="drug-table-column-group">{{ group(drug, recipe.drugs) }}</td>
                    <td class="drug-table-column-name">{{ drug.name }}</td>
                    <td class="drug-table-column-quantity">{{ drug.quantity }}</td>
                    <td class="drug-table-column-guide">{{ drug.dosage }}</td>
                    <td class="drug-table-column-company">{{ drug.companyName }}</td>
                    <td class="drug-table-column-price">{{ formatPrice(drug.price) }}</td>
                    <td class="drug-table-column-total">{{ formatPrice(drug.total) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

