<div class="sys-nav">
    <div class="sys-header">
        <a href="javascript:;" class="logo"></a>
        <div class="curtain">东软云医院 - 门诊发药</div>
        <div class="operation">
        </div>
    </div>
    <div class="sys-nav-bar">
        <div class="top">
            <ul class="side-bar-top">
                <li class="side-bar-item register">
                    <a ui-sref="register.entry">门诊配药</a>
                </li>
                <li class="side-bar-item card">
                    <a ui-sref="pharmacy.distribution" class="active">门诊直接发药</a>
                </li>
                <li class="side-bar-item member">
                    <a ui-sref="drug.distribution">门诊发药</a>
                </li>
                <li class="side-bar-item member">
                    <a href="javascript:;">住院摆药</a>
                </li>
                <li class="side-bar-item package">
                    <a href="javascript:;">门诊退药</a>
                </li>
                <li class="side-bar-item search">
                    <a href="javascript:;">发药终端管理</a>
                </li>
                <li class="side-bar-item search">
                    <a href="javascript:;">系统设置</a>
                </li>
            </ul>
        </div>
    </div>
</div>
